'scopeName':'source.quill',
'name':'Quill',
'fileTypes':['qyl', 'quill'],
'patterns':[
    {
        'match':'".*?"',
        'name':'constant.string.quill',
    },
    {
        'match':'#.*',
        'name':'comment.quill',
    }
    {
        'match':'(true|false)',
        'name':'constant.boolean.quill',
    },
    {
        'match':'-?[0-9]+(\\.[0-9]+)?',
        'name':'constant.numeric.quill',
    },
    {
        'match':'[^ \\t\\n(){}".,:\\]\\[]+(\\.[^ \\t\\n(){}".,:+\\]\\[]+)*:',
        'name':'constant.name.quill',
    },
    {
        'match':'([^ \\t\\n(){}".,:\\]\\[]+(\\.[^ \\t\\n(){}".,:+\\]\\[]+)*)\\(',
        'captures': {
            '1': {
                'name':'entity.name.function.quill',
            }
        }
    }
    {
        'match':':?[^ \\t\\n(){}".,:\\]\\[]+(\\.[^ \\t\\n(){}".,:+\\]\\[]+)*',
        'name':'entity.name.quill',
    }
]
