'scopeName':'source.quill',
'name':'Quill',
'fileTypes':['qyl', 'quill'],
'patterns':[
    {
        'match':'".*?"',
        'name':'constant.string.quill',
    },
    {
        'match':'(true|false)',
        'name':'constant.boolean.quill',
    },
    {
        'match':'-?[0-9]+(\\.[0-9]+)?',
        'name':'constant.numeric.quill',
    },
    {
        'match':'(if|while|return|import|func|class)\\(',
        'captures':{
            '1':{
                'name':'keyword.control.quill',
            }
        }
    },
    {
        'match':'(map|string|list|number|class|func|_pytype|void|bool)',
        'name':'constant.name.quill',
    },
    {
        'match':':?[^ \\t\\n(){}".,:\\]\\[]+(\\.[^ \\t\\n(){}".,:+\\]\\[]+)*',
        'name':'entity.name.quill',
    }
]
